{
  "openapi": "3.0.3",
  "info": {
    "title": "API 2.0",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.inklink.com/api"
    }
  ],
  "paths": {
    "/request": {
      "post": {
        "summary": "Create Request",
        "description": "Create Request",
        "operationId": "createRequest",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "secret_live_xxx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proof_title": {
                    "type": "string",
                    "example": "Dugong Image"
                  },
                  "proof_request_description": {
                    "type": "string",
                    "example": "Prove this user can search for an image of a dugong"
                  },
                  "acceptance_level_guide": {
                    "type": "string",
                    "example": "To earn a high acceptance score, navigate to google images and search `dugong`"
                  }
                }
              },
              "examples": {
                "Create Request": {
                  "value": {
                    "proof_title": "Dugong Image",
                    "proof_request_description": "Prove this user can search for an image of a dugong",
                    "acceptance_level_guide": "To earn a high acceptance score, navigate to google images and search `dugong`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "request_id": "req_xxx",
            "request_url": "https://app.inklink.com/request/req_xxx"
          }
        }
      }
    },
    "/request-result/{request_id}": {
      "get": {
        "summary": "Get Request Results",
        "description": "Get Request Results",
        "operationId": "getRequestResults",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "secret_live_xxx"
            }
          }
        ],
        "responses": {
          "data": [
            {
              "id": "24d0a9aad41d54105527648315e66cbd",
              "status": "PASSED",
              "proof_name": "Dugong Image",
              "acceptance_reason": "Search query and results are clearly visible and match the verification request",
              "acceptance_category": "high",
              "credibility_reason": "Clear evidence of Google image search with 'dugong' query and multiple dugong images in results",
              "credibility_category": "high",
              "created_at": "2025-08-18T17:22:36.375Z",
              "claims": [
                {
                  "property": "Search Platform",
                  "value": "Google"
                },
                {
                  "property": "Search Query",
                  "value": "Dugong"
                },
                {
                  "property": "Search Results Show Dugong Images",
                  "value": "True"
                },
                {
                  "property": "Search Type",
                  "value": "Images"
                }
              ]
            }
          ]
        }
      },
      "parameters": [
        {
          "name": "request_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "req_xxx"
          }
        }
      ]
    },
    "/request-session-id": {
      "post": {
        "summary": "Create Session",
        "description": "Create Session",
        "operationId": "createSession",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{vault:inklink dev key}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "type": "string",
                    "example": "req_xxx"
                  },
                  "return_url": {
                    "type": "string",
                    "example": "https://your-app.com/request-complete?your-ref-id=xxx"
                  }
                }
              },
              "examples": {
                "Create Session": {
                  "value": {
                    "request_id": "req_xxx",
                    "return_url": "https://your-app.com/request-complete?your-ref-id=xxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "session_id": "xxx",
            "request_url": "https://app.inklink.com/request/req_xxx?session_id=xxx"
          }
        }
      }
    }
  },
  "tags": []
}
