{
  "openapi": "3.0.3",
  "info": {
    "title": "API 2.0",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.inklink.com/api"
    }
  ],
  "paths": {
    "/request": {
      "post": {
        "summary": "Create Request",
        "description": "Create Request",
        "operationId": "createRequest",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "secret_live_xxx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "acceptance_level_guide": {
                    "type": "string",
                    "example": "To earn a high acceptance score, navigate to google images and search `dugong`"
                  },
                  "proof_request_description": {
                    "type": "string",
                    "example": "Prove this user can search for an image of a dugong"
                  },
                  "proof_title": {
                    "type": "string",
                    "example": "Dugong Image"
                  }
                }
              },
              "examples": {
                "Create Request": {
                  "value": {
                    "acceptance_level_guide": "To earn a high acceptance score, navigate to google images and search `dugong`",
                    "proof_request_description": "Prove this user can search for an image of a dugong",
                    "proof_title": "Dugong Image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": { "type": "string", "example": "req_xxx" },
                    "request_url": {
                      "type": "string",
                      "example": "https://app.inklink.com/request/req_xxx"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/request-result/{request_id}": {
      "get": {
        "summary": "Get Request Results",
        "description": "Get Request Results",
        "operationId": "getRequestResults",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "secret_live_xxx"
            }
          },
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "req_xxx"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request results retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "status": { "type": "string" },
                          "proof_name": { "type": "string" },
                          "acceptance_reason": { "type": "string" },
                          "acceptance_category": { "type": "string" },
                          "credibility_reason": { "type": "string" },
                          "credibility_category": { "type": "string" },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "claims": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "property": { "type": "string" },
                                "value": { "type": "string" }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "24d0a9aad41d54105527648315e66cbd",
                      "status": "PASSED",
                      "proof_name": "Dugong Image",
                      "acceptance_reason": "Search query and results are clearly visible",
                      "acceptance_category": "high",
                      "credibility_reason": "Clear evidence of Google image search",
                      "credibility_category": "high",
                      "created_at": "2025-08-18T17:22:36.375Z",
                      "claims": [
                        { "property": "Search Platform", "value": "Google" },
                        { "property": "Search Query", "value": "Dugong" }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/request-session-id": {
      "post": {
        "summary": "Create Session",
        "description": "Create Session",
        "operationId": "createSession",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{vault:inklink dev key}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "type": "string",
                    "example": "req_xxx"
                  },
                  "return_url": {
                    "type": "string",
                    "example": "https://your-app.com/request-complete?your-ref-id=xxx"
                  }
                }
              },
              "examples": {
                "Create Session": {
                  "value": {
                    "request_id": "req_xxx",
                    "return_url": "https://your-app.com/request-complete?your-ref-id=xxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": { "type": "string", "example": "xxx" },
                    "request_url": {
                      "type": "string",
                      "example": "https://app.inklink.com/request/req_xxx?session_id=xxx"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}
