{
  "openapi": "3.0.3",
  "info": {
    "title": "API",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.inklink.dev/api"
    }
  ],
  "paths": {
    "/request": {
      "post": {
        "summary": "Create Request",
        "description": "Create Request",
        "operationId": "createRequest",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "secret_xxxx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proof_request_description": {
                    "type": "string",
                    "example": "Prove this user visited Google Homepage"
                  }
                }
              },
              "examples": {
                "Create Request": {
                  "value": {
                    "addToChain": true,
                    "allowOptionalClaimsRemoval": true,
                    "badgeImageUrl": "string",
                    "category": "CUSTOM",
                    "claims": [
                      {
                        "description": "Income Level",
                        "property": "income_level",
                        "required": true
                      }
                    ],
                    "completionRedirectUrl": "string",
                    "completionText": "string",
                    "coverPageBgColor": "#000000",
                    "coverPageCtaButtonText": "Continue",
                    "coverPageDataSource": "[Last capture screen domain name]",
                    "coverPageNote": "string",
                    "coverPageRequesterAliasFormat": "FULL_NAME",
                    "flow": [
                      {
                        "captureButtonText": "string",
                        "captureConfirmationText": "string",
                        "index": 0,
                        "instruction": "string",
                        "noteToAI": "string",
                        "url": "string"
                      }
                    ],
                    "guide": "string",
                    "hideGuide": true,
                    "hideRedaction": true,
                    "noteToSelf": "string",
                    "notificationContent": "string",
                    "proofDescription": "string",
                    "proofExampleUrl": "string",
                    "proofTitle": "string",
                    "secureBrowserIntroScreen": "NONE",
                    "secureBrowserNavigation": "ALL",
                    "userValidation": "STRICT"
                  }
                },
                "Create Request (min)": {
                  "value": {
                    "proof_request_description": "Prove this user visited Google Homepage"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 / 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_template_id": {
                      "type": "string",
                      "example": "reqtlp_xxxx"
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "request_template_id": "reqtlp_xxxx"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/request-session-id": {
      "post": {
        "summary": "Create Request Session Id",
        "description": "Create Request Session Id",
        "operationId": "createRequestSessionId",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "example": "jc@inklink.com"
                      }
                    }
                  },
                  "request_id": {
                    "type": "string",
                    "example": "req_CQZDkk3toZY2yAC2QwG2g"
                  },
                  "return_url": {
                    "type": "string",
                    "example": "https://myapp.co/complete?id=1234"
                  }
                }
              },
              "examples": {
                "Create Request Session Id": {
                  "value": {
                    "data": {
                      "email": "jc@inklink.com"
                    },
                    "request_id": "req_CQZDkk3toZY2yAC2QwG2g",
                    "return_url": "https://myapp.co/complete?id=1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 01 Jul 2025 00:21:25 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_url": {
                      "type": "string",
                      "example": "https://app.inklink.dev/request/req_CQZDkk3toZY2yAC2QwG2g?session_id=01JZ1NR8DB1GB5MBF8N0KE3DFS"
                    },
                    "session_id": {
                      "type": "string",
                      "example": "01JZ1NR8DB1GB5MBF8N0KE3DFS"
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "request_url": "https://app.inklink.dev/request/req_CQZDkk3toZY2yAC2QwG2g?session_id=01JZ1NR8DB1GB5MBF8N0KE3DFS",
                      "session_id": "01JZ1NR8DB1GB5MBF8N0KE3DFS"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/request-result/{request_template_id}": {
      "get": {
        "summary": "Get Request Result",
        "description": "Get Request Result",
        "operationId": "getRequestResult",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": ""
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "secret_test_d64fa9b4-c7fc-46c4-a7e0-1caad44f6ed2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Get Request Result": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "acceptance_level": {
                      "type": "string",
                      "example": "high"
                    },
                    "acceptance_reason": {
                      "type": "string",
                      "example": "string"
                    },
                    "claims": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "property": {
                            "type": "string",
                            "example": "placement_in_gender"
                          },
                          "value": {
                            "type": "string",
                            "example": "548th of 1172"
                          }
                        }
                      },
                      "example": [
                        {
                          "property": "placement_in_gender",
                          "value": "548th of 1172"
                        }
                      ]
                    },
                    "confidence_level": {
                      "type": "string",
                      "example": "low"
                    },
                    "confidence_reason": {
                      "type": "string",
                      "example": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "PASSED"
                    }
                  }
                },
                "examples": {
                  "200": {
                    "value": {
                      "acceptance_level": "high",
                      "acceptance_reason": "string",
                      "claims": [
                        {
                          "property": "placement_in_gender",
                          "value": "548th of 1172"
                        }
                      ],
                      "confidence_level": "low",
                      "confidence_reason": "string",
                      "status": "PASSED"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "request_template_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "req_01JZ64C16A8G2JVF79B0P5XD3A"
          }
        }
      ]
    }
  },
  "components": {},
  "security": [],
  "tags": []
}
